.container {
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.progressBar {
    padding: 0px;
}

.buttonGroup button {
    padding: 10px 20px;
    border: 1px solid black;
    margin-right: 5px;
    color: black;
    background-color:olivedrab;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.buttonGroup button:hover {
    background-color: cornflowerblue;
    color: white;
}

.buttonGroup button:last-child {
    margin-right: 0;
}

.active, .inactive {
    list-style-type: none;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 5px;
}

.active:last-child, .inactive:last-child{
    margin-right: 0;

}

.active {
    background-color: chartreuse;
}

.inactive {
    background-color: white;
}